body {
    background: #272727;
    overflow: hidden;
    padding: 0;
    margin:0;
}

/* do the transitions between both views */
.transparent {
    opacity: 0;
}
.transparent>.cover {
    opacity: 0;
    pointer-events: none;
}

.cover {
    position: relative;
    transition: opacity 1.5s ease-in-out;
}

.view {
    height: 100vh;
    position: absolute;
    transition: opacity 1.5s ease-in-out;
}


/* the images */
.background {
    object-fit: cover;
    left: -40px;
    top: -40px;
    width: calc(100vw + 80px);
    height: calc(100vh + 80px);
    -webkit-filter: blur(20px) brightness(35%);
    filter: blur(20px) brightness(35%);
    overflow: hidden;
    position: absolute;
}

/* spotify album covers are always 640x640 so dont scream at me about using px*/
.foreground {
    left: calc(50vw - 320px);
    top: calc(50vh - 320px);
    width: 640px;
    height: 640px;
}

*:fullscreen {
    cursor: none !important;
}