:root {
    --blur: 20px;
}

body {
    /* dont blind me when no image is loaded */
    background: #272727;
    /* cover the entire window */
    padding: 0;
    margin:0;
    width: 100%;
    height: 100%;
}

/* do the transitions between both views */
.transparent {
    opacity: 0;
    filter: blur(var(--blur));
    pointer-events: none;
}

.view {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    /* transition for changing the image */
    transition: opacity 1.5s ease-in-out, filter 1.5s ease-in-out;
}


/* the images */
.background {
    object-fit: cover;
    /* overscan the background so the blur works right on the edges*/
    left: calc(var(--blur) * -2);
    top: calc(var(--blur) * -2);
    width: calc(100vw + calc(var(--blur) * 4));
    height: calc(100vh + calc(var(--blur) * 4));
    position: absolute;
    /* blur background */
    filter: blur(var(--blur)) brightness(35%);
}

.foreground {
    width: 60%;
    max-width: 80vmin;
    max-height: 80vmin;
    /* centering */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}


span.title {
    position: absolute;
    bottom: 0.75em;
    left: 0.75em;
    font-size: 3em;
    color: white;
    font-family: sans-serif;
    transition: opacity 0.5s linear, filter 0.5s linear;
}

